<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Movies</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <!-- Hero Section -->
    <header class="hero">
      <h1>My Best Movie App</h1>
      <p>Discover and manage your favorite movies!</p>
    </header>

    <!-- Movie Cards Section -->
    <main class="movie-container">
      ***Movie Cards***
    </main>
  </body>
</html>